body {

    color: white;    
  }
.Hmenu{
    background-color: rgb(25, 23, 29);
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 0;
    left: 0;
}

.Href{
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 20px;

}

.Hbutton{
    background-color: rgb(150, 106, 201);
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin-right: 20px;
}
.submitBstyle{
    background-color: rgb(150, 106, 201);
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}

body{
    background-image: url('pencil.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:;
}
.inputfeildStyle{
    width: 100%;
    border-radius: 1em;
    padding: 0.5em;
    border-color: rgb(62, 62, 120);
}
.headerStyle{
    margin-top: 12%;
    text-align: center;
    color: rgb(255, 255, 255);
  }

div+div{
    margin-bottom: 2em;
}

.fieldsetstyle{
    margin: 10% 20% 10%;
    border-radius: 0.5em;
    border: none;
    /*background-color: rgba(255, 255, 255, 1);*/
    background-color: rgb(26, 21, 50);
}
.inputtextareaStyle{
    width: 100%;
    border-radius: 1em;
}